{% extends 'layout.html.twig' %}

{% block title %}Eventadmin{% endblock %}
{% block banner %}banner2{% endblock %}
{% block titre_de_page %}Administration des événements{% endblock %}




 {% block content %}
  <ul class="text-primary">
   <li><a href="/admin/eventAdmin/add">Ajouter un événement</a></li>
   <li>Enlever un événement</li>
   <li >Modifier un événement</li>
  </ul>
 {% endblock %}