
{% extends 'layout.html.twig' %}

{% block title %}Eventadmin{% endblock %}
{% block banner %}banner2{% endblock %}
{% block titre_de_page %}Administration des événements{% endblock %}




 {% block content %}
     <div class="row">
         <p class="btn-primary col-4 d-flex justify-content-center"><a href="">Ajouter un événement</a> </p>
     </div>
     <div class="row d-flex justify-content-center ">
         <table class="text-primary table-bordered col-10 text-center">
             <thead >
             <tr>
                 <th scope="col">Titre</th>
                 <th scope="col">Date</th>
                 <th scope="col">Description</th>
                 <th></th>
                 <th></th>
             </tr>
             </thead>
             <tbody>
             {% for event in events %}
             <tr>
                 <td>{{ event.title }}</td>
                 <td>{{ event.date|date("d/m/Y") }}</td>
                 <td>{{ event.comment }}</td>
                 <td class="p-3"><a href="" class="btn btn-danger">Supprimer</a></td>
                 <td class="p-3"><a href="/admin/eventAdmin/update/{{ event.id }}" class="btn btn-secondary" role="button" aria-pressed="true">Modifier</a></td>
             </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>

 {% endblock %}

