{% extends 'layout.html.twig' %}

{% block title %}Admin{% endblock %}
{% block banner %}banner2{% endblock %}
{% block titre_de_page %}Administration{% endblock %}

 {% block content %}
     <main class="container">
         <ul>
             <li>CARTE</li>
             <li>PHOTOS</li>
             <li>EVENEMENTS</li>
             <li>ARTISTES</li>
         </ul>
     </main>






 {% endblock %}