{% extends 'layout.html.twig' %}

{% block title %}Admin{% endblock %}
{% block banner %}banner2{% endblock %}
{% block titre_de_page %}Administration{% endblock %}

 {% block content %}
     <main class="container">
         <ul class="link_cards d-flex justify-content-between">
             <li class="d-flex align-items-center justify-content-center"><a href=""> CARTE</a></li>
             <li class="d-flex align-items-center justify-content-center"><a href="/admin/galleryAdmin">PHOTOS</a></li>
             <li class="d-flex align-items-center justify-content-center"><a href="/admin/eventAdmin/index">EVENEMENTS</a></li>
             <li class="d-flex align-items-center justify-content-center"><a href="">ARTISTES</a></li>
         </ul>
     </main>
 {% endblock %}