{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit artist {{ artist.title }}</h1>
    {% include 'Artist/_form.html.twig' %}
    <a href="/artist/{{ artist.id }}">Back</a>
{% endblock %}