{% extends 'layout.html.twig' %}

{% block title %}On est là{% endblock %}

{% block banner %}banner3{% endblock %}

{% block titre_de_page %}ON EST LA!{% endblock %}

{% block content %}
    <div class="container">
        <div class="row location">
            <div class="col-12">
                <p class="row d-flex justify-content-center teaser">Situé au coeur d'Orléans, notre bar vous offre une carte très variée de coktails et autres boissons. <br/>Spécialiste du Mojito, vous pourrez découvrir une nouvelle recette chaque mois. <br/> Lieu idéal pour faire la fête, vous apprécierez l'atmosphère accueillante de ce bar.<br/> De nombreux artistes aiment se produire chez nous. <br/>Venez les écouter!</p>
                <hr>
                <span class="row d-flex justify-content-center schedule">Ouvert du Lundi au Dimanche<br/>17h - 1h du matin</span>
            </div>
        </div>
        <div class="col-lg-5 col-xs-12 d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.9275301631005!2d1.9072785532680983!3d47.89908794831994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e4d1d7a430df%3A0x963af94756cbba79!2sJava+Pop+Orl%C3%A9ans!5e0!3m2!1sfr!2sfr!4v1539787243869" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
