{% extends 'layout.html.twig' %}

{% block banner %}banner1{% endblock %}

{% block titre_de_page %}Items{% endblock %}

{% block content %}

    <ul>
        {% for item in items %}
            <li><a href="/item/{{ item.id }}">{{ item.id }}. {{ item.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/item/add">Ajouter</a>
{% endblock %}
