{% extends 'layout.html.twig' %}


{% block title %}Home{% endblock %}

{% block titre_de_page %}<img src="/assets/images/logos/javapop-live.png" alt="logo live javapop">{% endblock %}

    {% block header %}
        {% include 'navbar.html.twig' %}

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for home in homes %}
                    {% set view='' %}
                    {% if loop.index is even %}

                    <div class="carousel-item active">
                        <p class="carousel-content">Le {{ home.date }} <br/> Venez nombreux voir {{ home.title }}</p>
                    </div>
                        {% else %}
                    <div class="carousel-item ">
                        <p class="carousel-content">Le {{ home.date }} <br/>  {{ home.title }} en concert!</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}


{% block content %}
    <div class="container-fluid menuclic">
        <div class="row">
            <div class="col-sm-12 ">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/drink">Cartes</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/gallery">Galerie</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/artist">Artistes</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/event">Evènements</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/location">Nous trouver</a>
            </div>
        </div>
    </div>
{% endblock %}
