{% extends 'layout.html.twig' %}

{% block titre_de_page %}Contact{% endblock %}
{% block banner %}banner2{% endblock %}
{%  block content %}
    <form id="contactForm" name="sentMessage" novalidate="novalidate">
        <div class="row justify-content-around formRow">
            <div class="col-md-5">
                <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Votre nom *" required="required" data-validation-required-message="Votre nom doit être inscrit.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Votre Email *" required="required" data-validation-required-message="Veuillez renseigner votre adresse mail.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <label class="selectSujet">
                        <select class="form-control" id="Select" >
                            <option>Selectionnez un sujet...</option>
                            <option>Privatiser la JAVAPOP</option>
                            <option>Organiser un concert</option>
                            <option>Animation sur demande</option>
                            <option>Autre sujet</option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <textarea class="form-control messageForm" id="message" placeholder="Votre Message *" required="required" data-validation-required-message="S'il vous plait écrivez votre mesage."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-primary-contact btn-xl text-uppercase btn-form" type="submit">Envoyer</button>
            </div>
            <div class="col-md-5 prestation">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="http://www.javapop.fr/ressources/img/event_location.jpg" height="150px" alt="Generic placeholder image">
                        <div class="media-body border-media">
                            <h5 class="mt-0 mb-1">Privatiser La JAVAPOP</h5>
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="media-body border-media">
                            <h5 class="mt-0 mb-1 text-right">Organiser un concert</h5>
                        </div>
                        <img class="ml-3" src="http://www.javapop.fr/ressources/img/event_concert.jpg" height="150px" alt="Generic placeholder image">
                    </li>
                    <li class="media bo">
                        <img class="mr-3" src="http://www.javapop.fr/ressources/img/event_insolite.jpg" height="150px" alt="Generic placeholder image">
                        <div class="media-body border-media">
                            <h5 class="mt-0 mb-1">Animation sur demande</h5>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </form>
{% endblock %}