<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 

        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Righteous" rel="stylesheet">

        <!-- Custom styles for this template -->

    {% endblock %}

    <link href="/assets/css/agency.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/navBar.css" rel="stylesheet">
    <link rel="icon" href="/assets/images/favicon.png">
    <link href="/assets/css/card.css" rel="stylesheet">


</head>

<body class="pageStandard {{ homeBackImg }}" >


<header class="container-fluid bodycontainer ">
    {% block header %}{% include 'navbar.html.twig' %}{% endblock %}
    <div class="row {% block banner %}{% endblock %} align-items-center">
        <div class="col-lg-12 text-center">
            <h1 class="section-heading text-uppercase">{% block titre_de_page %}{% endblock %}</h1>
        </div>
    </div>
</header>

<section class="container-fluid ">
    {% block content %}{% endblock %}

</section>
<footer class="container-fluid justify-content-center">
    <p>la Java Pop - 45 rue de la Charpenterie 45000 Orleans, Centre - <span data-toggle="modal" data-target=".bd-example-modal-lg"> Mentions Légales </span>- Design by WCS <a href=""></a> Contact</p>
    <!-- Large modal -->

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row d-flex justify-content-left m-2 text-primary">
                    <h1>Mentions légales</h1>
                    <div>
                        <h3>1. Presentation du site.</h3>
                        <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
                            l'économie numérique, il est précisé aux utilisateurs du site www.javapop.fr l'identité des
                            différents intervenants dans le cadre de sa réalisation et de son suivi :<br>
                        Propriétaire : Java Pop<br>Créateur : WCS<br></p>
                    </div>
                    <div>
                        <h3>2. Conditions generales d utilisation du site et des services proposes.</h3>
                        <p>L’utilisation du site www.javapop.fr implique l’acceptation pleine et entière des conditions
                            générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles
                            d’être modifiées ou complétées à tout moment, les utilisateurs du site www.javapop.fr sont
                            donc invités à les consulter de manière régulière.</p>
                        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour
                            raison de maintenance technique peut être toutefois décidée par www.javapop.fr, qui
                            s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de
                            l’intervention.</p>
                        <p>Le site www.javapop.fr est mis à jour régulièrement par WCS. De la même façon, les mentions
                            légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur
                            qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
                    </div>
                    <div>
                        <h3>3. Description des services fournis.</h3>
                        <p>Le site www.javapop.fr a pour objet de fournir une information concernant l’ensemble des
                            activités de la société.</p>
                        <p>WCS s’efforce de fournir sur le site www.javapop.fr des informations aussi précises que
                            possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et
                            des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers
                            partenaires qui lui fournissent ces informations.</p>
                        <p>Tous les informations indiquées sur le site www.javapop.fr sont données à titre indicatif, et
                            sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site
                            www.javapop.fr ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant
                            été apportées depuis leur mise en ligne.</p>
                    </div>
                    <div>
                        <h3>4. Limitations contractuelles sur les donnees techniques.</h3>
                        <p>Le site utilise la technologie JavaScript.</p>
                        <p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation
                            du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel
                            récent, ne contenant pas de virus et avec un navigateur de dernière génération
                            mis-à-jour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>

</body>


</html>
