html
{
    width: 100%;
    height: 100%;
}
body
{
    min-height: 100%; position: relative;
}

.pageStandard
{
    margin: 0;
    padding:0;
    background: url('../images/img-bg/grey.jpg') ;

}
.pageStandard header
{
    background: url("../images/img-bg/evenements2.jpeg") no-repeat;
}
.bodycontainer
{
    padding: 0;
}
.pageStandard h1
{
    color:orangered;
    display: table;
    white-space: nowrap;
    text-align: center;
    font-size: 10vh;
}

h1:before, h1:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: linear-gradient(orangered, orangered) repeat-x left center;
    background-size: 0.9vh 0.9vh;
}
.banner1
{
    height: 40vh;
    background-image: url("../images/img-bg/evenements2.jpeg");
}
.banner2
{
    height: 40vh;
    background-image: url("../images/img-bg/evenements.jpeg");
}


.information
{
    padding-top: 4vh;
}

footer
{
    position: absolute;
    bottom: 0;
}
footer p
{
    color: orangered;
    padding: 0;
}
.prestation{
    padding-left: 5vw;
    padding-top: 20px;
}
.formulaire h5 {
    color: orangered;
}
.formulaire .container-fluid {
    padding-left: 10vw;
    padding-right: 10vw;
}
.formulaire .text-right {
    padding-right: 1vw;
}
.border-media {
    border-bottom: 2px solid orangered;
    width: 13vw;
}
.selectSujet{
    width: 100%;
}
.btn-primary:hover
{
    background-color: #fec810;
}
.btn-primary-contact{
    background-color: #fe6410;
    border-color: #fe6410;
}
.messageForm{
    height: 20vh;
}
textarea.form-control{
    height: 20vh;
}
.formRow{
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.errorsForm {
    color: orangered;
}