html
{
    width: 100%;
    height: 100%;
}
body
{
    min-height: 100%; position: relative;
}

section
{
    padding-bottom: 6em;
}

.pageStandard
{
    margin: 0;
    padding:0;
    background-image: url("../images/img-bg/grey.jpg");
}
.bodycontainer
{
    padding: 0;
}
.pageStandard h1
{
    background: linear-gradient(to right, #F7E81F 0%, orangered, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    white-space: nowrap;
    text-align: center;
    font-size: 12vh;
    font-family: 'Fredoka One', cursive;
    margin-top: 0.3em;

}
h1:before, h1:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: linear-gradient(orangered, orangered) repeat-x left center;
    background-size: 0.9vh 0.9vh;
}
.banner1
{
    height: 40vh;
    background-image: url("../images/img-bg/evenements2.jpeg");
}
.banner2
{
    height: 40vh;
    background-image: url("../images/img-bg/carte-bg.jpg");
}
.banner3
{
    height: 40vh;

    background-image: url("../images/img-bg/localisation-bg.jpg");
}

.banner4
{
    height: 40vh;
    background-image: url("../images/img-bg/carte-bg.jpg");
}


.location p
{
    margin-top: 1em;
    padding-top: 1em;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
    height:11em;
}

.location span
{
    padding-top: 1em;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    height:6em;
}

.location hr
{
    background-color: orangered;
    width:6em;
}

.link_cards li
{
    display: inline;
    width: auto;
    height: 6vh;
    background-color: orangered;
    border: #FFFFFF;
    border-style: solid;
    font-weight: bold;
    font-size: 2em;
    color: #FFFFFF;
    padding:0.8em;
}


.panel-right{
    text-align: left;
    margin-left: 62%;
}
@media (max-width: 768px) {
    .panel-right{
        margin-left:15vw;
    }

}

footer
{
    position: relative;
    margin-top: 2%;
}
footer p
{
    color: orangered;
    padding: 0;
    font-size: 1em;
}
.prestation{
    padding-left: 5vw;
    padding-top: 20px;
}
.formulaire h5 {
    color: orangered;
}
.formulaire .container-fluid {
    padding-left: 10vw;
    padding-right: 10vw;
}
.formulaire .text-right {
    padding-right: 1vw;
}
.border-media {
    border-bottom: 2px solid orangered;
    width: 13vw;
}
.selectSujet{
    width: 100%;
}
.btn-primary:hover
{
    background-color: #fec810;
}
.btn-primary-contact{
    background-color: #fe6410;
    border-color: #fe6410;
}
.messageForm{
    height: 20vh;
}
textarea.form-control{
    height: 20vh;
}
.formRow{
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.errorsForm {
    color: orangered;
}

.btn-primary
{
    background-color: #fe4d12;
    border-color: black;
    border-radius: 15px;
    background-image: linear-gradient(to top right, #feab00, #F50023);
}
.menuclic
{
    text-align: center;

}
.section-heading
{
    margin-top: 80px;

}
.home
{
    background-image: url("../images/img-bg/header-bg.jpg");
}
/* Picture by Math*/
.deletePicture
{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.card_galery
{
    text-align: center;
    padding-bottom: 3rem;
    padding-right: 2rem;


}
.showPictureAlone
{
    text-align: center;
    padding-bottom: 3rem;
}
.galleryPicture
{
    height: auto;
    width: 20vw;


}
.galleryAdmin
{
    height: 10vw;
    width: 10vw;
}
.modalPicture
{
    background-color: transparent;
    border-color: transparent;
}
.imgModal
{
    opacity: 0.8;
    background-color: transparent;
    border-color: transparent;
}
.cancelDelete
{
    color: white;
}


.carousel-content {
    font-weight: bold;
    font-size: 2em;
    color:orangered;
    text-align: center;
    padding-bottom: 0;
    background: -webkit-linear-gradient(left, yellow 0% , orangered 70%, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    left: 25%;
    width: 50%;
    height: auto;
    padding-top: 25px;
    position: relative;
}


.imgModal:hover
 {
    opacity: 1;
 }
.imgModal:hover .overPic
{
    position: absolute;
    top:25%;
    left: 20%;
    right: 20%;
    background-color: transparent;
    opacity: 1;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px orangered;
    display: block;
    font-size: 4vh;
    font-weight: bold;
}
@media (min-width:992px){
    .bulles
    {
        width: 20%;
        position: absolute;
        margin-left: 15%;
        margin-top: 2%;
    }
}
.btn
{
    position: relative;
    border: black solid 4px;
    border-bottom: black solid 10px;
    border-right: black solid 10px;
    margin-top: 5%;
}

p
{
    color: #FFFFFF;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}
.addPicture
{
    color: white;
}
