html
{
    width: 100%;
    height: 100%;
}
body
{
    min-height: 100%; position: relative;
}

section
{
      padding: 1em;
}
.pageStandard
{
    margin: 0;
    padding:0;
    background-image: url("../images/img-bg/grey.jpg");
}
.bodycontainer
{
    padding: 0;
}
.pageStandard h1
{
    color:orangered;
    display: table;
    white-space: nowrap;
    text-align: center;
    font-size: 10vh;
}
h1:before, h1:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: linear-gradient(orangered, orangered) repeat-x left center;
    background-size: 0.9vh 0.9vh;
}
.banner1
{
    height: 40vh;
    background-image: url("../images/img-bg/evenements2.jpeg");
}
.banner2
{
    height: 40vh;
    background-image: url("../images/img-bg/carte-bg.jpg");
}
.banner3
{
    height: 40vh;

    background-image: url("../images/img-bg/localisation-bg.jpg");
}

.location p
{
    margin-top: 1em;
    padding-top: 1em;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
    height:11em;
}

.location span
{
    padding-top: 1em;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    height:6em;
}

.location hr
{
    background-color: orangered;
    width:6em;
}

.link_cards li
{
    display: inline;
    width: auto;
    height: 6vh;
    background-color: orangered;
    border: #FFFFFF;
    border-style: solid;
    font-weight: bold;
    font-size: 2em;
    color: #FFFFFF;
    padding:0.8em;
}


.panel-right{
    text-align: left;
    margin-left: 62%;
}
@media (max-width: 768px) {
    .panel-right{
        margin-left:15vw;
    }

}

footer
{
    position: absolute;
    bottom: 0;
}
footer p
{
    color: orangered;
    padding: 0;
}

.btn-primary {
    background-color: #fe4d12;
    border-color: white;
    border-radius: 15px;
    margin-bottom: 50px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.menuclic
{
    text-align: center;

}
.section-heading
{
    margin-top: 150px;

}
.home
{
    background-image: url("../images/img-bg/header-bg.jpg");
}


