
{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Artists</h1>
        <ul class="artist">
            {% for artist in artists %}
                <li><a href="{{ artist.id }}">{{ artist.title }}</a></li>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
        </ul>
{% endblock %}
