{% extends 'layout.html.twig' %}

{% block banner %}bannerArtist{% endblock %}


{% block content %}
    <h1>Artistes</h1>
    <div class="indexart container-fluid">
        <div class="artist row">
            {% for artist in artists %}
                <div class="artspace col-lg-6">
                    <div class="row">
                        <div class="artistlg col-lg-3"><a href="/artist/{{ artist.id }}"><img class="imgart card-img-top" src="{{ artist.picture }}" alt="Artiste"></a></div>
                        <div class="artistlg col-lg-3"><a class="name" href="/artist/{{ artist.id }}">{{ artist.name }}</a>
                            {% if artist.favorite == true %}
                                <img class="favorite" src="https://d3dxokg0h8luw0.cloudfront.net/assets/images/icon_coeur.png">
                            {% endif %}
                            {% if artist.local == true %}
                                <img class="local" src="https://i.goopics.net/bGXwp.png">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}