{% extends 'layout.html.twig' %}

{% block banner %}bannerArtist{% endblock %}
{% block titre_de_page %}Artistes{% endblock %}

{% block content %}

    <div class="indexart container-fluid">
        <div class="artist row">
            {% for artist in artists %}
                <div class="artspace col-lg-6">
                    <div class="row m-2">
                        <div class="artistlg col-lg-3"><img class="imgart card-img-top" style="width: 150px; height:150px" src="{{ artist.picture }}" alt="Artiste"></a></div>
                        <div class="artistlg col-lg-5">
                            <p class="name" style="font-weight: bold">{{ artist.name }}</p>
                            {% if artist.favorite == true %}
                                <img class="favorite" src="https://d3dxokg0h8luw0.cloudfront.net/assets/images/icon_coeur.png">
                            {% endif %}
                            {% if artist.local == true %}
                                <img class="local" src="https://i.goopics.net/bGXwp.png">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
