{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ artist.name }}</h1>
    <a href="/artist">Back</a>
    <div class="picture card">
        <img class="card-img-top" src="{{ artist.picture }}" alt="Artiste">
        <div class="card-body">
            <p>{{ artist.name }}</p>
        </div>
    </div>
{% endblock %}