{% extends 'layout.html.twig' %}

{% block banner %}banner3{% endblock %}

{% block titre_de_page %}CARTE DES BOISSONS{% endblock %}

{% block content %}


    <ul>
        {% for drink in drinks %}
            <li class="text-white">{{ drink.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}

