{% extends 'layout.html.twig' %}
{% block title %}Drinkadmin{% endblock %}
{% block banner %}banner3{% endblock %}
{% block titre_de_page %}Admin boissons{% endblock %}




 {% block content %}
     <div class="row">
         <p class="btn-primary"><a href="">Ajouter un produit</a> </p>
     </div>
     <div class="row">
         <table class="text-primary table-bordered col-8 text-center">
             <thead >
             <tr>
                 <th scope="col">Nom</th>
                 <th scope="col">volume</th>
                 <th scope="col">prix</th>
                 <th></th>
                 <th></th>
             </tr>
             </thead>
             <tbody>
             {% for drink in drinks %}
                 <tr>
                     <td>{{drink.name }}</td>
                     <td>{{ drink.volume }}</td>
                     <td>{{ drink.prix |number_format(2, '.', ',') }}</td>
                     <th class="p-3"><a href="" class="btn btn-danger">Supprimer</a></th>
                     <th class="p-3"><a href="" class="btn btn-warning">Modifier</a></th>
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>


 {% endblock %}