{% extends 'layout.html.twig' %}
{% block banner %} banner1 {% endblock %}
{% block title %}Photo{% endblock %}
{% block titre_de_page %}Photos{% endblock %}
{% block content %}

    <div>
        <div class="row card_galery">
            {% for picture in pictures %}
                <div class="col-lg-3 col-xs-12">
                    <img class="card-img-top pb-3  galleryPicture" src="../assets/images/gallery/{{ picture.imgName }}"
                         alt="images des evenements de la javapop"/>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal{{ picture.id }}">
                        Agrandir l'image
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ picture.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-dialog-centered modalPicture">
                                <img src="../assets/images/gallery/{{ picture.imgName }}"
                                     alt="images des evenements de la javapop"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="addPicture">Aucune image à afficher</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
