{% extends 'layout.html.twig' %}



{% block content %}
    <div class="container-fluid menuclic">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/cartes">Cartes</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/galerie">Galerie</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/artist">Artistes</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/evenement">Evènements</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/contact">Contact</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-1 ml-1" style="width: 220px; height: 69px;" href="/onestla">Nous trouver</a>
    </div>
{% endblock %}


