{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajout</h1>
    <form action="" class="addPicture" enctype="multipart/form-data" method="post">
        <input type="file" id='upload' name="upload[]"  multiple="multiple" />
        <input type="hidden" value="{{ picture.id }}" name="id">
        <input type="hidden" value="{{ picture.imgName }}" name="name">
        <input type="submit" value="Valider" name="submit">
    </form>
    <a href="/admin/galleryAdmin">Revenir à la galerie</a>

    {% if errors%}
        <div class="alert alert-danger">
            <ul>
                <li>{{ errors.name }}</li>
            </ul>
        </div>
    {% endif %}

{% endblock %}
